<app-header-login></app-header-login>

<!-- Cart -->
<div class="container">
  <h3 class="text-center mt-4">Your Cart</h3>
  <div class="row justify-content-md-center mt-5">
    <div class="col-lg-8 mb-4">
      <h5>Cart - {{ cartItems.length }} items</h5>
      <hr />
      <!-- item 1 -->
      <div class="row" *ngFor="let item of cartItems">
        <div class="col-12 col-md-4 mb-3">
          <img
            src="images/products/detail/JeaneDarc.webp"
            alt=""
            class="img-fluid"
            style="height: 300px; object-fit: contain"
          />
        </div>
        <div class="col-12 col-md-5 mb-3">
          <div class="p-2">
            <h6>{{ item.product.name }}</h6>
            <p>
              <ng-container
                *ngFor="let start of [].constructor(item.product.star)"
              >
                ⭐
              </ng-container>
            </p>
            <p>Class: {{ item.product.class }}</p>
            <p>Noble Phantasm</p>
            <ul>
              <li>{{ item.product.noble_phantasm }}</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <p class="text-end">
            <b>{{ item.quantity }} pcs</b>
          </p>
        </div>
        <div class="text-end">
          <p>
            Price :<b>
              {{ item.product.price * item.quantity | currency : "USD" }}
            </b>
          </p>
          <a class="btn btn-secondary" (click)="deleteCartItem(item.product_id)"
            >remove</a
          >
        </div>
      </div>
    </div>
    <!-- Item 2 -->
  </div>
  <div class="col-lg-4">
    <h5>Summary</h5>
    <hr />
    <div class="row">
      <div class="col-8">Products</div>
      <div class="col-4 text-end">{{ totalPrices | currency : "USD" }}</div>
    </div>
    <div class="row">
      <div class="col-8">Shipping</div>
      <div class="col-4 text-end">Gratis</div>
    </div>
    <hr />
    <div class="row">
      <div class="col-8"><h6>Total Amount</h6></div>
      <div class="col-4 text-end">{{ totalPrices | currency : "USD" }}</div>
    </div>
    <a class="btn btn-primary w-100 mt-4" (click)="checkout()">CHECKOUT</a>
  </div>
</div>

<app-footer></app-footer>
