<app-header-login></app-header-login>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-12 col-md-4 main">
      <img
        src="images/products/detail/JeaneDarc.webp"
        alt=""
        class="img-fluid"
        style="height: 500px; object-fit: contain"
      />
      <div class="row mt-3 variant">
        <div class="col-3">
          <img
            src="images/products/detail/JeaneDarc_Lancer.webp"
            alt=""
            class="img-fluid"
            style="width: 100px; height: 100px; object-fit: contain"
          />
        </div>
        <div class="col-3 variant">
          <img
            src="images/products/detail/JeaneDarc_Alter.webp"
            alt=""
            class="img-fluid"
            style="width: 100px; height: 100px; object-fit: contain"
          />
        </div>
        <div class="col-3 variant">
          <img
            src="images/products/detail/JeaneDarc.webp"
            alt=""
            class="img-fluid"
            style="width: 100px; height: 100px; object-fit: contain"
          />
        </div>
        <div class="col-3 variant">
          <img
            src="images/products/detail/JeaneDarc_Lancer_Santa.webp"
            alt=""
            class="img-fluid"
            style="width: 100px; height: 100px; object-fit: contain"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <h3>Jeane D arc</h3>
      <p>Class: Ruler</p>
      <p>
        <i class="bi bi-star-fill" style="color: gold"></i>
        <i class="bi bi-star-fill" style="color: gold"></i>
        <i class="bi bi-star-fill" style="color: gold"></i>
        <i class="bi bi-star-fill" style="color: gold"></i>
        <i class="bi bi-star-fill" style="color: gold"></i>
      </p>
      <p>Price: $100</p>
      <p>
        Jeanne d’Arc, dikenal sebagai "Maid of Orléans," adalah seorang gadis
        petani sederhana dari Prancis abad ke-15 yang menjadi simbol keberanian
        dan keajaiban. Pada usia 17 tahun, ia mendengar suara-suara ilahi yang
        memanggilnya untuk membebaskan Prancis dari penjajahan Inggris selama
        Perang Seratus Tahun. Dengan keberanian luar biasa, ia meyakinkan
        Charles VII untuk memimpin pasukan Prancis meski tak pernah terlatih
        dalam seni perang. Jeanne memimpin kemenangan besar di Orléans, mengubah
        arus perang dan membangkitkan semangat bangsanya. Namun, keberaniannya
        juga membuatnya menjadi target, dan ia ditangkap, diadili, serta dihukum
        mati di tiang bakar oleh musuhnya. Bertahun-tahun kemudian, ia diakui
        sebagai martir dan dikanonisasi sebagai santo, menjadi simbol abadi
        tentang keyakinan, keberanian, dan perjuangan melawan ketidakadilan.
        Kisahnya mengingatkan dunia bahwa kekuatan besar bisa lahir dari hati
        yang tulus dan tekad yang tak tergoyahkan.
      </p>
      <h6>Noble Phantasm</h6>
      <ul>
        <li>Luminosité Eternelle</li>
        <li>La Pucelle</li>
      </ul>
      <hr />
      <div class="input-group" style="width: 150px">
        <button class="btn btn-primary" type="button" id="button-minus">
          <b>-</b>
        </button>
        <input
          class="form-control text-center"
          type="number"
          min="1"
          value="1"
        />
        <button class="btn btn-primary" type="button" id="button-plus">
          <b>+</b>
        </button>
      </div>
      <br />
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col-4">
        <p class="fluid">
          <button
            id="btn-lore"
            class="legend btn btn-secondary w-100"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#lore"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Lore
          </button>
        </p>
      </div>

      <div class="col-4">
        <p>
          <button
            id="btn-skill"
            class="legend btn btn-secondary w-100"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#skill"
            aria-expanded="false"
            aria-controls="collapseWidthExample"
          >
            Skills
          </button>
        </p>
      </div>

      <div class="col-4">
        <p>
          <button
            id="btn-np"
            class="legend btn btn-secondary w-100"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#np"
            aria-expanded="false"
            aria-controls="collapseWidthExample"
          >
            Noble Phantasm
          </button>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="collapse" id="lore">
          <div class="card card-body">
            <b>Sang Gadis Suci yang Dipilih oleh Tuhan </b>
            <p>
              Jeanne d'Arc, dikenal sebagai Gadis Orleans, adalah seorang petani
              muda dari Domrémy, Prancis, yang mendengar bisikan ilahi dari
              Saint Michael, Saint Catherine, dan Saint Margaret. Dipanggil oleh
              kehendak Tuhan, ia meninggalkan kehidupannya yang sederhana untuk
              memimpin pasukan Prancis melawan invasi Inggris dalam Perang
              Seratus Tahun. Dengan keberanian dan keyakinannya yang tak
              tergoyahkan, Jeanne berhasil memotivasi tentara yang putus asa,
              meraih kemenangan besar di Orleans dan memastikan penobatan
              Charles VII sebagai raja Prancis. Kepercayaan rakyat terhadap
              Jeanne sebagai utusan surga menjadikannya simbol keajaiban dan
              harapan di tengah kekacauan perang.
            </p>
            <hr />
            <b>Tragedi Pengkhianatan dan Api Penyucian</b>
            <p>
              Namun, perjalanan Jeanne berakhir tragis. Dikhianati oleh
              sekutunya, ia ditangkap oleh pasukan Burgundi dan dijual ke
              Inggris. Dituduh sebagai bidah oleh pengadilan gereja yang korup,
              Jeanne dijatuhi hukuman mati dengan cara dibakar hidup-hidup pada
              usia 19 tahun. Meskipun tubuhnya hancur oleh api, semangatnya
              tidak pernah padam; kematiannya menjadi inspirasi bagi Prancis
              untuk melanjutkan perjuangan mereka. Bertahun-tahun kemudian,
              Jeanne dikanonisasi sebagai seorang santa, mengukuhkan tempatnya
              sebagai martir sekaligus simbol iman dan keberanian yang tak
              tergoyahkan.
            </p>
            <hr />
            <b>Jeanne d'Arc dalam Fate/Grand Order</b>
            <p>
              Di Fate/Grand Order, Jeanne d'Arc dipanggil sebagai Ruler Class
              Servant, membawa bendera sucinya untuk melindungi sekutu dan
              mengadili kejahatan dalam Perang Cawan Suci. Dalam cerita ini, ia
              menjadi penjelmaan harapan dan kebajikan, melampaui kemanusiaannya
              untuk membawa kedamaian di tengah konflik. Namun, sisi lain dari
              takdirnya muncul dalam bentuk Jeanne d'Arc Alter, manifestasi
              kebencian dan rasa pengkhianatan. Dengan dua sisi ini, Jeanne
              menjadi karakter kompleks yang mencerminkan pertarungan antara
              iman, keadilan, dan balas dendam, menjadikannya salah satu tokoh
              paling ikonik di semesta Fate.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="collapse" id="skill">
          <div class="card card-body">
            <b>Revelation (True Name Discernment)</b>
            <p>
              <b>Deskripsi:</b> Skill ini merepresentasikan kemampuan Jeanne
              untuk mendengar bisikan ilahi dari para malaikat dan santo yang
              membimbingnya dalam pertempuran. Dalam Fate/Grand Order, skill ini
              memberikan efek Critical Star Generation, seolah menggambarkan
              panduan ilahi yang membantunya mengantisipasi langkah musuh.
            </p>
            <p>
              <b>Kaitan Sejarah:</b> Jeanne diyakini menerima wahyu dari Saint
              Michael, Saint Catherine, dan Saint Margaret, yang memberinya
              petunjuk untuk memimpin Prancis menuju kemenangan.
            </p>
            <hr />
            <b>Divine Protection</b>
            <p>
              <b>Deskripsi:</b> Skill ini melambangkan perlindungan ilahi yang
              diberikan kepada Jeanne, memperkuat daya tahannya di medan perang.
              Dalam permainan, skill ini biasanya meningkatkan pertahanan atau
              memberikan kemampuan bertahan hidup tambahan.
            </p>
            <p>
              <b>Kaitan Sejarah:</b> Jeanne sering dianggap memiliki
              perlindungan supernatural, yang memberikan keberanian dan daya
              tahan luar biasa, bahkan saat menghadapi bahaya besar selama
              perang.
            </p>
            <hr />
            <b>True Name Discernment</b>
            <p>
              <b>Deskripsi:</b> Sebagai seorang Ruler Class Servant, Jeanne
              memiliki kemampuan untuk melihat esensi sejati dari lawannya,
              memungkinkannya menilai situasi dengan jernih. Dalam permainan,
              ini diterjemahkan sebagai peningkatan Debuff Resistance atau
              kemampuan untuk menghadapi musuh dengan strategi yang tepat.
            </p>
            <p>
              <b>Kaitan Sejarah:</b> Jeanne dikenal karena kebijaksanaannya yang
              tajam, yang membantu menentukan tindakan terbaik dalam
              pertempuran, meskipun ia bukan seorang prajurit yang terlatih.
            </p>
            <hr />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="collapse" id="np">
          <div class="card card-body">
            <b>Luminosité Eternelle: God is Here With Me</b>
            <p>
              Luminosité Eternelle adalah Noble Phantasm yang mencerminkan
              bendera suci yang dibawa Jeanne d'Arc dalam setiap pertempuran.
              Bendera ini bukan hanya simbol inspirasi bagi pasukan Prancis,
              tetapi juga lambang perlindungan dan harapan ilahi. Dalam sejarah,
              Jeanne membawa bendera dengan gambar Kristus Raja yang menandakan
              bahwa ia bertempur bukan untuk dirinya sendiri, tetapi untuk
              kehendak Tuhan. Dalam Fate/Grand Order, bendera ini digunakan
              untuk melindungi sekutu dari serangan musuh, memperkuat pertahanan
              mereka, dan memulihkan kekuatan—menggambarkan bagaimana Jeanne
              melindungi moral pasukannya dan menjadi cahaya di tengah kekacauan
              perang.
            </p>
            <hr />
            <b> La Pucelle: The Crimson Holy Virgin</b>
            <p>
              La Pucelle adalah Noble Phantasm yang mencerminkan akhir tragis
              Jeanne d'Arc. Judul ini berasal dari julukannya "La Pucelle
              d'Orléans," yang berarti "Perawan dari Orleans." Pedang yang
              muncul dalam La Pucelle mewakili pengorbanan totalnya untuk
              kehendak Tuhan. Dalam sejarah, Jeanne dihukum mati dengan dibakar
              hidup-hidup karena tuduhan bidah. Noble Phantasm ini mencerminkan
              kematiannya, di mana ia menyerahkan segalanya, termasuk hidupnya,
              demi iman dan bangsanya. Dalam Fate/Grand Order, La Pucelle adalah
              serangan pengorbanan diri yang memusnahkan musuh, tetapi dengan
              konsekuensi yang fatal bagi dirinya sendiri, melambangkan
              pengorbanan Jeanne di dunia nyata.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
